[Unit]
Description=People Monitor Service
After=network.target

[Service]
Environment="PATH=/home/cleanroom/odin_babycam/venv/bin:$PATH"
ExecStart=/home/cleanroom/odin_babycam/venv/bin/python /home/cleanroom/odin_babycam/linux-people-count-monitor.py
WorkingDirectory=/home/cleanroom/odin_babycam
User=root
Group=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 
